<a href="https://colab.research.google.com/github/moch1996/Vaycold/blob/main/%233.TF-IDF%EB%A5%BC_%ED%99%9C%EC%9A%A9%ED%95%9C_%EC%B6%94%EC%B2%9C_%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TF-IDF를 활용한 추천 알고리즘
 - 컨텐츠 기반 추천시스템 
 - 추천 성능은 RMSE로 판단

In [ ]:
import os
import numpy as np
import pandas as pd
import math
from tqdm import tqdm
from google.colab import drive
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

### 데이터 불러오기

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/MyDrive/fastcampus/recommend/movielens'
ratings_df = pd.read_csv(os.path.join(path, 'ratings.csv'), encoding='utf-8')
movies_df = pd.read_csv(os.path.join(path, 'movies.csv'), index_col='movieId', encoding='utf-8')
tags_df = pd.read_csv(os.path.join(path, 'tags.csv'), encoding='utf-8')

In [ ]:
# 장르와 태그를 이용할 예정임

In [ ]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
movies_df.head()

                                      title                                       genres
movieId
1                          Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2                            Jumanji (1995)                   Adventure|Children|Fantasy
3                   Grumpier Old Men (1995)                               Comedy|Romance
4                  Waiting to Exhale (1995)                         Comedy|Drama|Romance
5        Father of the Bride Part II (1995)                                       Comedy

In [ ]:
tags_df.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [ ]:
# 무비데이터와 태그데이터를 적절히 활용하여 각 무비마다 피쳐를 만들어 사용

In [ ]:
# genre를 이용한 movie representation
total_count = len(movies_df.index) # 영화는 총 몇개 있는 지 
total_genres = list(set([genre for sublist in list(map(lambda x: x.split('|'), movies_df['genres'])) for genre in sublist])) # 장르는 총 몇개 있는 지

In [ ]:
print(f'전체 영화 수: {total_count}')
print(f'전체 장르: {total_genres}')

전체 영화 수: 9742
전체 장르: ['Mystery', 'Drama', 'Musical', 'Crime', 'Western', 'Action', 'Film-Noir', 'Children', '(no genres listed)', 'Animation', 'Horror', 'Adventure', 'Comedy', 'Romance', 'Fantasy', 'Thriller', 'War', 'Sci-Fi', 'IMAX', 'Documentary']

In [ ]:
print(len(total_genres))

20

In [ ]:
# movie df에서 각각의 장르를 가져오는데 movie df에서 각각의 장르를 가져오는데 총 몇번이 등장하는 지 보여줌 

genre_count = dict.fromkeys(total_genres)

for each_genre_list in movies_df['genres'] :
    for genre in each_genre_list.split('|') :
        if genre_count[genre] == None :
            genre_count[genre] = 1
        else :
            genre_count[genre] = genre_count[genre] + 1

In [ ]:
genre_count

{'(no genres listed)': 34,
 'Action': 1828,
 'Adventure': 1263,
 'Animation': 611,
 'Children': 664,
 'Comedy': 3756,
 'Crime': 1199,
 'Documentary': 440,
 'Drama': 4361,
 'Fantasy': 779,
 'Film-Noir': 87,
 'Horror': 978,
 'IMAX': 158,
 'Musical': 334,
 'Mystery': 573,
 'Romance': 1596,
 'Sci-Fi': 980,
 'Thriller': 1894,
 'War': 382,
 'Western': 167}

In [ ]:
# 장르별 가중치 계산
for each_genre in genre_count :
  genre_count[each_genre] = np.log10(total_count / genre_count[each_genre])

In [ ]:
genre_count

{'(no genres listed)': 2.457169208193496,
 'Action': 0.7266719338379385,
 'Adventure': 0.8872447746804204,
 'Animation': 1.2026069149931968,
 'Children': 1.1664800458677336,
 'Comedy': 0.41392254164167785,
 'Crime': 0.9098289421369025,
 'Documentary': 1.3451954487495636,
 'Drama': 0.3490620385623247,
 'Fantasy': 1.0971106675631868,
 'Film-Noir': 2.0491288726171324,
 'Horror': 0.9983092704481497,
 'IMAX': 1.7899910382813284,
 'Musical': 1.4649016584241867,
 'Mystery': 1.2304935032683613,
 'Romance': 0.7856152382210405,
 'Sci-Fi': 0.9974220495432562,
 'Thriller': 0.7112681505684965,
 'War': 1.4065847623240424,
 'Western': 1.7659316540881678}

In [ ]:
# create genre representations

genre_representation = pd.DataFrame(
    columns = sorted(total_genres),
    index = movies_df.index
    )

In [ ]:
genre_representation.head()

        (no genres listed) Action Adventure  ... Thriller  War Western
movieId                                      ...
1                      NaN    NaN       NaN  ...      NaN  NaN     NaN
2                      NaN    NaN       NaN  ...      NaN  NaN     NaN
3                      NaN    NaN       NaN  ...      NaN  NaN     NaN
4                      NaN    NaN       NaN  ...      NaN  NaN     NaN
5                      NaN    NaN       NaN  ...      NaN  NaN     NaN

[5 rows x 20 columns]

In [ ]:
for index, each_row in tqdm(movies_df.iterrows()) :
    dict_temp = {i : genre_count[i] for i in each_row['genres'].split('|')}
    row_to_add = pd.DataFrame(dict_temp, index =[index]) # 해당되는 가중치를 가져옴
    genre_representation.update(row_to_add)

genre_representation

9742it [00:51, 188.45it/s]

        (no genres listed)    Action Adventure  ... Thriller  War Western
movieId                                         ...
1                      NaN       NaN  0.887245  ...      NaN  NaN     NaN
2                      NaN       NaN  0.887245  ...      NaN  NaN     NaN
3                      NaN       NaN       NaN  ...      NaN  NaN     NaN
4                      NaN       NaN       NaN  ...      NaN  NaN     NaN
5                      NaN       NaN       NaN  ...      NaN  NaN     NaN
...                    ...       ...       ...  ...      ...  ...     ...
193581                 NaN  0.726672       NaN  ...      NaN  NaN     NaN
193583                 NaN       NaN       NaN  ...      NaN  NaN     NaN
193585                 NaN       NaN       NaN  ...      NaN  NaN     NaN
193587                 NaN  0.726672       NaN  ...      NaN  NaN     NaN
193609                 NaN       NaN       NaN  ...      NaN  NaN     NaN

[9742 rows x 20 columns]

# Tag를 이용한 movie representation

In [ ]:
tags_df.head(5)

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [ ]:
movies_df.loc[60756]

title     Step Brothers (2008)
genres                  Comedy
Name: 60756, dtype: object

In [ ]:
movies_df.loc[89774]

title     Warrior (2011)
genres             Drama
Name: 89774, dtype: object

In [ ]:
tags_df['tag']

0                  funny
1        Highly quotable
2           will ferrell
3           Boxing story
4                    MMA
              ...
3678           for katie
3679             austere
3680              gun fu
3681    heroic bloodshed
3682    Heroic Bloodshed
Name: tag, Length: 3683, dtype: object

In [ ]:
# get unique tag
tag_column = list(map(lambda x : x.split(','), tags_df['tag'])) #map함수의 활용
unique_tags = list(set(list(map(lambda x: x.strip(), list([tag for sublist in tag_column for tag in sublist])))))

In [ ]:
# get unique tag
tag_column = list(map(
    lambda x: x.split(','), 
    tags_df['tag']))

unique_tags = list(set(list(
    map(
    lambda x: x.strip(), 
    list([tag for sublist in tag_column #태그 컬럼은 위에서 구한 태그컬럼이고 모든 태그가 나와있다.
              for tag in sublist]))))) #list comprehension 내 이중 for문이라 해석하기 난해하다. 
                                      # 해석을해보자면 tag를 리스트로 바꾼 후 그것을 x.strip()함수로 먹인 것을 리스트로 하고 다시 셋을 만들어서 리스트를 먹인다는 말인데...
                                      # 두번이나 먹여야 되나..?
                                      # 

print(unique_tags)

['fish', 'Wall Street', 'Navy', 'unusual', 'Saturday Night Live', 'infertility', 'Mexico', 'Jennifer Connelly', 'twists & turns', 'inhumane', 'Comedy', 'Andy Kaufman', "80's", 'busniess', 'nonsense', 'lack of plot', 'purity of essence', 'Humour', 'live action/animation', 'computer', 'anthology', 'imaginary friend', 'surrealism', 'episodic', 'cult', 'sisterhood', 'transvestite', 'heartwarming', 'sweet', 'Quirky', 'travolta', 'high fantasy', 'Nicolas Cage', 'crucifixion', 'May-December romance', 'race', 'wapendrama', 'Studio Ghibli', 'George Bernard Shaw', 'Dodie Smith', 'sword fight', 'Not Seen', 'Hepburn and Tracy', 'storytelling', 'Insanity', 'hula hoop', 'Harper Lee', 'truckers', 'In Netflix queue', 'stupid but funny', 'nonlinear', 'Las Vegas', 'good and evil', 'great screenplay', 'Vietnam', 'Kevin Costner', 'Ralph Fiennes', 'claims to be true', 'video game adaptation', 'big name actors', 'anime', '1950s', 'quirky', 'John Malkovich', 'remake', 'Deep Throat', 'short stories', 'awkward', 'boxing', 'big budget', 'wonderwoman', 'unlikely hero', 'M. Night Shyamalan', 'teenage pregnancy', 'Wizards', 'nonlinear narrative', 'opera', 'religion', 'Andrew Lloyd Weber', 'Huey Long', 'slow', 'surfing', 'Eccentric', 'prejudice', 'Existential', 'Amish', 'camels', 'cross dressing', 'beautiful cinematography', 'I am your father', 'robots', 'golfing', 'Leonardo DiCaprio', 'dreamy', 'Pearl S Buck', 'MMA', 'black-and-white', 'dreamlike', 'lawyer', 'Hollywood', 'Simple', 'Emma', 'World War II', 'Robert Ludlum', 'aviation', 'unoriginal', 'cliche characters', 'black humor', 'highschool', 'subway', 'mining', 'Hannibal Lector', 'random', 'shenanigans', 'HORRIBLE ACTING', 'dogs', 'Denzel Washington', 'class', 'GIVE ME BACK MY SON!', 'Jim Morrison', 'schizophrenia', 'multiple storylines', 'reality TV', 'Casey Affleck', 'lesbian', 'stupid', 'mountain climbing', 'Arnold Schwarzenegger', 'Bill Murray', 'Atmospheric', 'memory', 'setting:space/space ship', 'horses', 'salute to Douglas Sirk', 'Afghanistan', 'abortion', 'Brad Pitt', 'parenthood', 'bad ass', 'Mental Hospital', 'romantic', 'Psychological Thriller', 'double life', 'superficial plot', 'EPIC', 'emotional', 'weak plot', 'special effects', 'tobacco', 'cryptic', 'unsettling', '1970s', 'insomnia', 'unnecessary sequel', 'psychopaths', 'martial arts', 'adultery', 'Scotland', 'ex-con', 'Salieri', 'a dingo ate my baby', 'immigration', 'Tradition!', 'boring', 'haunting', 'end of the world', 'somber', 'r:sustained strong stylized violence', 'hotel', 'arthouse', 'feel-good', 'depressing', 'genius', 'carnival', 'Robin Williams', 'imaginative', 'Turkey', 'Dr. Seuss', 'mad scientist', 'epic', 'creepy', 'Jared Leto', 'Eric Bana', 'adolescence', 'too long', 'Politics', 'soccer', 'china', 'Stock Market', 'crude humor', 'emma thompson', 'sexuality', 'Hannibal Lecter', 'war', 'ensemble cast', 'no dialogue', 'Jaime Pressly', 'documentary', 'revolutionary', 'killer', 'General Motors', 'entertaining', 'mice', 'quick cuts', 'sisters', 'Girl Power', 'pop culture references', 'twins', 'black hole', 'Oscar Wilde', 'interesting characters', 'Wolverine', 'tear jerker', 'Judaism', 'real estate', 'women', 'britpop', 'Cerebral', 'invisibility', 'Myth', 'pageant', 'cerebral', 'James Fennimore Cooper', 'aquarium', 'oninous', 'Nick Hornby', 'monologue', 'Margot Robbie', 'Sinbad', 'Michigan', 'Harley Quinn', 'remade', 'drugs & music', 'nostalgia', 'intense', 'Halle Berry', 'good music', 'alternate reality', 'stone age', 'childish naivity', 'multiple roles', 'true story', 'surprise ending', 'Clock', 'AIDs', 'scifi cult', 'updated classics', 'vampires', 'Screwball', 'solitude', 'boksdrama', 'multiple stories', 'Butler', 'Stoner Movie', 'visually appealing', 'Visually appealing', 'kids', 'androids', 'free speech', 'Charles Dickens', 'violent', 'gangs', 'character development', 'Istanbul', 'exciting', 'psychology', 'love story', 'Firefly', 'stupid is as stupid does', 'painter', 'alcoholism', 'sports', 'post-apocalyptic', 'ghosts', 'Disturbing', 'political right versus left', 'killer-as-protagonist', 'Heroic Bloodshed', 'new society', 'smart', 'Amtrak', 'Dinosaur', 'undercover cop', 'Shia LaBeouf', 'Charlotte Bronte', 'black humour', 'corruption', 'pizza beer', 'gritty', 'tense', 'Jennifer Lawrence', 'Michael Cera', 'video games', 'kidnapping', 'Simon and Garfunkel', 'thriller', 'splatter', 'r:strong language', 'Suspense', 'human rights', 'ark of the covenant', 'Lou Gehrig', 'milkshake', 'Hammett', 'beautiful scenery', 'mind-bending', 'orphans', 'ben affleck', 'Captain Kirk', 'insightful', 'classic', 'Joker', 'Colin Farrell', 'friendship', 'prom', 'secrets', 'nanny', 'understated', 'submarine', 'personals ads', 'prodigies', 'Uma Thurman', 'sexy', 'biking', 'not seen', 'r:graphic sexuality', 'evil children', 'marvel', 'TV', 'fucked up', 'movies', 'Peter Pan', 'Shangri-La', 'HOT actress', 'Jesse Ventura', 'John Cusack', 'Shakespeare', 'cattle drive', 'Anthony Hopkins', 'amazing', 'assassin', 'guns', 'Stanley Kubrick', 'good', 'heavy metal', 'pulp', 'flood', 'longing', 'Jason', 'romance', 'independent', 'cool style', 'movie business', 'governess', 'vampire', 'nonlinear storyline', 'royalty', 'indie record label', 'heroin', 'Motivational', 'Christian Bale', 'Hemingway', 'Doc Ock', 'Ben Stiller', 'weddings', 'prison', 'politics', 'oil', 'mental hospital', 'humour', 'fun', 'court', 'slasher', 'multiple personalities', 'Insane', 'suspenseful', 'beautiful visuals', 'Beethoven', 'Academy award (Best Supporting Actress)', 'Angelina Jolie', 'lawyers', 'sophisticated', 'I see dead people', 'visually stunning', 'Canada', 'music industry', 'shipwreck', 'Mark Wahlberg', 'comics', 'horror', 'conversation', 'Mozart', 'not linear', 'action packed', 'Poor story', 'American Indians', 'big boys with guns', 'DC', 'Rogue', 'amazing dialogues', 'irreverent', 'cruel characters', 'bromance', 'Well Done', 'Grace', 'societal criticism', 'Africa', 'predictable', 'coma', 'Civil War', 'Coen Bros', 'philosopical', 'test tag', 'dreams', 'stiller', 'melancholy', 'Mrs. DeWinter', 'shrimp', 'complicated', 'tearjerking', 'Paul Rudd', 'Henry Darger', 'addiction', 'Simon Pegg', 'space action', 'Hal', 'character study', 'macho', 'Stephen Crane', 'Homeless', 'Depressing', 'animation', 'jake gyllenhaal', 'space', 'way too long', 'virginity', 'tragedy', 'diabetes', 'short films', 'Nudity (Topless)', 'cia', 'They Might Be Giants', 'stephen king', 'Magneto', 'enigmatic', 'embarassing scenes', 'Beatles', 'good soundtrack', 'David Bowie', 'show business', 'unpredictable', 'cate blanchett', 'Toto', 'imagination', 'cameo:Whoopi Goldberg', 'grim', 'austere', 'fairy tales', 'new composer', 'great performances', 'funny', 'twist', 'depression', 'Great movie', 'Soundtrack', 'wrongful imprisonment', 'muppets', 'remix culture', 'moldy', 'Hawkeye', 'game', 'union', 'Shark', 'lion', 'amnesia', 'the Force', 'French', 'confrontational', 'deaf', 'ogres', 'Australia', 'Housekeeper', 'Native Americans', 'James Stewart', 'creativity', 'SNL', 'child abuse', 'different', 'Chris Evans', 'cool', 'factory', 'jungle', 'Seann William Scott', 'anti-war', 'genocide', 'Day and Hudson', 'Tennessee Williams', 'lovely', 'Arthur Miller', 'dumpster diving', 'history', 'trippy', 'postmodern', 'seen more than once', 'homeless', 'british comedy', 'artistic', 'Sustainability', 'Empire State Building', 'original plot', 'robbery', 'children', 'Robert Downey Jr.', 'Tarantino', 'alternate universe', 'Music', 'existentialism', 'heartbreaking', 'Sad', 'alan rickman', 'unique', 'nuclear war', 'awkward romance', 'creative', 'organized crime', 'E.M. Forster', 'royal with cheese', 'quirky romantic', 'franchise', 'symbolic', 'Thanos', 'beautifully filmed', 'building a family', 'stranded', 'adorable', 'Holocaust', 'deadpan', 'based on a TV show', 'irony', 'BEST PICTURE', 'crappy sequel', 'Johnny Cash', 'remaster', 'Dystopia', 'mental illness', 'large cast', 'start of a beautiful friendship', 'knights', 'poorly paced', '"artsy"', 'loneliness', 'six-fingered man', 'android(s)/cyborg(s)', 'pool', 'sad', 'thought-provoking', 'George Lucas', 'British', 'High School', 'procedural', 'psychiatrist', 'Trey Parker', 'Morrow', 'spelling bee', 'inspirational', 'survival', 'cheating', 'diner', 'weird', 'tedious', 'Journalism', 'Harvey Keitel', 'George Clooney', 'Slim Pickens', 'president', 'hitman', 'bad acting', 'abstract', 'individualism', 'Matt Damon', 'computers', 'Hayao Miyazaki', 'touching', 'tom hardy', 'Quotable', 'dumb', 'big wave', 'James Cameron', 'homosexuality', 'Post apocalyptic', 'predictible plot', 'Visually stunning', 'easygoing', 'adventure', 'Will Ferrell', 'satire', 'train', 'generation X', 'interracial romance', 'masterpiece', 'Robert De Niro', '1900s', 'bizzare', 'swashbuckler', 'visual', 'SPACE TRAVEL', 'Peta Wilson', 'California', 'American propaganda', 'Martin Scorsese', 'Aardman', 'mirrors', 'nightclub', 'ransom', 'confusing', 'high school', 'space adventure', 'immortality', 'mecha', 'gintama', 'cinematography', 'Brittany Murphy', 'stapler', 'Jekyll and Hyde', 'comic book', 'divorce', 'zither', 'Great villain', 'Cole Porter', 'morality', 'teachers', 'adoption', 'priest', 'shark', 'Dr. Strange', 'shakespeare', 'Animation', 'samurai', 'singletons', 'achronological', 'Clousseau', 'Agatha Christie', 'teen', 'Sean Connery', 'bad writing', 'tension building', 'virtual reality', 'television', 'music business', 'dead wife', 'blind', 'family', 'Star Wars', 'espionage', 'gangsters', 'interesting scenario', 'far fetched', 'Seth Rogen', 'photographer', 'fantasy', 'film-noir', 'Suspenseful', 'sarcasm', 'batman', 'moody', 'narnia', 'reciprocal spectator', 'President', 'bad dialogue', 'fun family movie', 'Shakespeare sort of', 'colorful', 'meaningless violence', 'magic board game', 'matchmaker', 'cyberpunk', 'poor dialogue', 'r:some violence', 'humor', 'circus', 'Bechdel Test:Fail', 'good dialogue', 'No DVD at Netflix', 'Gal Gadot', 'stand-up comedy', 'Marion Cotillard', 'King Arthur', 'colourful', 'mockumentary', 'unexplained', 'daniel craig', 'fatalistic', 'love', '2D animation', 'Metaphorical', 'Black comedy', 'The Entertainer', 'MCU', 'Josh Brolin', 'foul language', 'american idolatry', 'FIGHTING THE SYSTEM', 'iconic', 'Natalie Portman', 'restaurant', 'really bad', 'gangster', 'sex', 'Ray Bradbury', 'Charlize Theron', 'televangelist', 'dc comics', 'bad plot', 'rich guy - poor girl', 'Scott Turow', 'Unique', 'Strangers on a Train', 'Jeff Bridges', 'Alfred Hitchcock', 'R language', 'introspection', 'not funny', 'hallucinatory', 'casino', 'NASA', 'drug overdose', 'tension', 'multiple short stories', 'missing children', 'out of order', 'Epic', 'Great Visuals', 'Coen Brothers', 'C.S. Lewis', 'historical', 'sentimental', 'terminal illness', 'Ireland', 'business', 'immigrants', 'great soundtrack', 'Nazis', 'insanity', 'heroic bloodshed', 'offensive', 'slow paced', 'uplifting', 'twist ending', 'good writing', 'statue', 'racism', 'bad-ass', 'slick', 'Rome', 'happpiness', 'murder', 'Justin Timberlake', 'Oscar (Best Supporting Actress)', 'memory loss', 'Oscar (Best Music - Original Score)', 'Twist Ending', 'suburbia', 'military', 'plastic surgery', 'Japan', 'Jack Nicholson', 'ballet', 'nonlinear timeline', 'Marx brothers', 'Tom Clancy', 'Great performances', 'motherfucker', 'lies', 'jackie chan', 'bible', 'retro', 'relaxing', 'dark', 'gun-fu', 'controversial', 'Macaulay Culkin', 'unconventional', 'Favelas', 'Astaire and Rogers', 'widows/widowers', 'inspiring', 'crime', 'Alcatraz', 'Dogs', 'cult classic', 'Jean Reno', 'Poor plot development', 'intertwining storylines', 'leonardo DiCarpio', 'revolution', 'Andy Garcia', "Palme d'Or", 'italy', 'Not available from Netflix', 'Nudity (Full Frontal)', 'non-linear timeline', 'leopard', 'Missionary', 'Capote', 'paranoid', 'time-travel', 'darth vader', "Harley Quinn's ass", 'coulda been a contender', 'Rolling Stone', 'football', 'convent', 'Beautiful', 'off-beat comedy', 'captain nemo', 'mafia', 'photography', 'Thor', 'Chuck Palahniuk', 'very funny', 'Hearst', 'Rachel Weisz', 'tricky', 'clever', 'anti-intellectual', 'Emilia Clarke', 'gold', 'action choreography', 'fatherhood', 'surreal', 'books', 'fighting', 'Paris', 'Family', 'Othello', 'Disney', 'TOGA', 'DEPRESSING', 'Edith Wharton', 'Moving', 'absorbing', 'island', 'Woody Harrelson', 'Oscar (Best Actress)', 'Atomic bomb', 'missionary', 'dance marathon', 'disjointed timeline', 'eerie', 'Emma Stone', 'unintelligent', 'superhero', 'south park', 'Chile', 'holocaust', 'baseball', 'Jason Biggs', 'dark humor', 'seen at the cinema', 'alternate endings', 'mathematics', 'India', 'ryan reynolds', 'intelligent', 'cynical', 'passion', 'Francis Ford Coppola', 'Dickens', 'Viggo Mortensen', 'Palahnuik', 'hugh jackman', 'Roger Avary', 'gun tactics', 'coen brothers', 'artificial intelligence', 'trains', 'Rosebud', 'Tom Hanks', 'avant-garde romantic comedy', 'Chris Klein', 'awesome', 'bombs', 'singers', 'Ichabod Crane', 'bank', 'luke skywalker', 'Steve Buscemi', 'ancient Rome', 'men in drag', 'biography', 'Julianne Moore', 'bad language', 'Stand Up', 'scenic', 'con artists', 'los angeles', 'nerds', 'Police', 'prostitution', 'Narrative pisstake', 'camp', 'representation of children', 'death', 'terrorism', 'beautiful', '06 Oscar Nominated Best Movie - Animation', 'soundtrack', 'Boston', 'Boxing story', 'Bruce Willis', 'menacing', 'Bible', 'bowling', 'acting', 'Modern war', 'ships', 'dating', 'Cold War', 'space craft', 'superman', 'Hilary Swank', 'Sci-fi', 'financial crisis', 'Food', 'neo-noir', 'bad jokes', 'superhero team', 'Indonesia', 'faerie tale', 'Enterprise', 'school', 'rug', 'coke', 'Eva Green', 'England', 'space epic', 'Audrey Tautou', 'Jude Law', 'Ewan McGregor', 'noir', 'brutal', 'Ben Kingsley', 'powerful ending', 'time travel', '70mm', 'Maggie Gyllenhaal', 'stylish', 'non-linear', 'cheesy', 'Nun', "Eugene O'Neill", 'harsh', 'claymation', 'Steven Spielberg', 'Titanic', 'Kevin Spacey', 'Arthur C. Clarke', 'Medieval', 'archaeology', 'Truman Capote', 'overrated', 'cult film', 'earnest', 'philosophical', 'death penalty', 'poetic', 'action', 'lord of the rings', 'reflective', 'strange', 'lions', 'science fiction', 'overcomplicated', 'pregnancy', 'aardman', 'assassin-in-training (scene)', 'basketball', 'doll', 'stage', 'cartoon', 'Sundance award winner', 'Bette Davis', 'mindless one liners', 'Jim Carrey', 'Adventure', 'Matrix', 'stylized', 'elegant', 'joss whedon', 'zombies', 'political commentary', 'Creature Feature', 'Cambodia', 'Quentin Tarantino', 'Classic', 'disappointing', 'McDonalds', 'drug abuse', 'Christmas', 'conspiracy theory', 'Capone', 'Robert Penn Warren', 'Batman', 'demons', 'geeky', 'butler', 'voyeurism', 'harry potter', 'Heartwarming', 'great acting', 'purposefulness', 'Venice', 'Ninotchka remake', 'Amazing Cinematography', 'Loretta Lynn', 'ummarti2006', 'KIDNAPPING', 'adult humor', 'r:strong bloody violence', 'Ryan Reynolds', 'Horrible directing', 'r:disturbing violent images', 'western', 'villain nonexistent or not needed for good story', 'goofy', 'transplants', 'Philip K. Dick', 'Brooch', 'CGI', 'preacher', 'Einstein', 'workplace', 'stop looking at me swan', 'dark fairy tale', 'good cinematography', 'sci-fi', 'ending', 'hip hop', 'gambling', 'intellectual', 'France', 'hippies', 'Holy Grail', 'hostage', 'black and white', 'old', 'video', 'con men', 'amazing artwork', 'mind-blowing', 'South America', 'Christopher Lloyd', 'chess', 'organised crime', 'incest', 'Kurt Russell', 'Keanu Reeves', 'illusions', '2001-like', 'r:violence', 'South Africa', 'Howard Hughes', 'best comedy', 'graphic design', 'psychological', 'goretastic', 'bruce willis', 'figure skating', 'rape', 'MacBeth', 'John Goodman', 'satirical', 'male nudity', 'made me cry', 'daniel radcliffe', 'black comedy', 'marriage', 'spaghetti western', 'romantic comedy', 'ironic', 'spiders', 'Olympics', 'classic movie', 'magic', 'engrossing adventure', 'evolution', 'slow action', 'moon', 'Quakers', 'Magic', 'father-son relationship', 'masculinity', 'philosophy', '1960s', 'drama', 'spacecraft', 'revenge', 'Cold', 'roald dahl', 'bad humor', 'freaks', 'Mystery', 'Big Brothers', 'Graham Greene', 'treasure hunt', 'Rachel McAdams', 'Christina Ricci', 'small towns', 'It was melodramatic and kind of dumb', 'falling', 'jon hamm', 'original', 'college', 'realistic', 'challenging', 'paranoia', 'justice', 'slavery', 'Michael Crichton', 'dinosaurs', 'bears', 'wistful', 'narrated', 'artsy', 'Moses', 'pixar', 'Juliette Lewis', 'last man on earth', 'based on a book', 'radio', 'Jean Grey', 'symbolism', 'Broadway', 'reunion', 'modern fantasy', 'Borg', 'Mel Gibson', 'river', 'assassins', 'Al Pacino', 'bad music', 'food', 'POW', 'audience intelligence underestimated', 'Liam Neeson', 'Italy', 'white guilt', 'Exquisite plotting.', 'Norman Bates', 'Tilda Swinton', 'witty', 'space opera', 'uncomfortable', 'Oscar (Best Effects - Visual Effects)', 'Monty Python', 'James Franco', 'philosophical issues', 'Morgan Freeman', 'Ed Harris', 'dark comedy', 'post apocalyptic', 'jack nicholson', 'Lonesome Polecat', 'anti-Semitism', 'rabbi', 'Scifi masterpiece', 'Tokyo', 'gentle', 'ocean', 'casual violence', 'FBI', 'aggressive', 'confusing ending', 'art', 'kung fu', 'computer animation', 'film history', 'ROBOTS AND ANDROIDS', 'Nathan Fillion', 'scary', 'vertriloquism', 'Backwards. memory', 'freedom of expression', 'Bugs Bunny', 'psychedelic', 'dialogue', 'L.A.', 'Luc Besson', 'brothers', 'stupid ending', 'chilly', 'Stupid ending', 'Cult classic', 'contemplative', 'violence', 'Middle East', 'bad', 'Anne Hathaway', 'bittersweet', 'asylum', 'Death', 'apocalypse', 'bizarre', 'great cinematography', 'tolkien', 'ballroom dance', 'annoying', 'Christoph Waltz', 'the catholic church is the most corrupt organization in history', 'Thrilling', 'Tim Burton', 'thought provoking', 'too much love interest', 'dust bowl', 'crazy', 'entirely dialogue', 'Dan Aykroyd', 'blood', 'helena bonham carter', 'smart writing', 'wine', 'lack of development', 'mobster', 'based on a true story', 'Animal movie', 'rebellion', 'ethics', 'new york', 'Sci-Fi', 'Disney animated feature', 'freedom', 'Tolstoy', 'Russell Crowe', 'Christopher Nolan', 'future', 'truth', 'Andy Samberg', 'birds', 'plot holes', 'Revenge', 'mindfuck', 'Action', 'TERRORISM', 'Michael Bay', 'fugitive', 'younger men', 'beat poetry', 'screwball', 'Surreal', 'Jason Segel', 'Recap', 'money', 'long takes', 'hit men', 'In Your Eyes', 'Dorothy', 'PTSD', 'bubba gump shrimp', 'Henry James', 'doctors', 'families', 'too many characters', 'Tolkien', 'courtroom drama', 'Jessica Alba', 'for katie', 'film noir', 'brilliant', 'rap', 'lieutenant dan', 'meryl streep', 'innovative', 'lack of story', 'Klingons', 'Train', 'art house', 'classic sci-fi', '1990s', 'fast-paced', 'wedding', 'humane', 'animal movie', 'music', 'Marvel', 'disability', 'ferris wheel', 'r:disturbing violent content including rape', 'golf', 'gothic', 'Nabokov', 'Nick and Nora Charles', 'dark hero', 'Up series', 'small time criminals', 'Dull', 'China', 'brainwashing', 'heroine in tight suit', 'Savannah', 'Rob Zombie', 'Dialogue', 'needed more autobots', 'fairy tale', 'space station', 'AS Byatt', 'claustrophobic', 'S.E. Hinton', 'mystery', 'first was much better', 'Hugh Jackman', 'edward norton', 'enjoyable', 'babies', 'jay and silent bob', 'Nuclear disaster', 'fantasy world', 'melancholic', 'road trip', 'theater', 'Van Gogh', 'intimate', 'meditative', 'characters', 'brutality', 'consumerism', 'plot twist', 'Adam Sandler', 'based on a play', 'violence in america', 'von Bulow', 'Dark', 'whimsical', 'werewolf', 'Johnny Depp', 'Lloyd Dobbler', 'gruesome', 'self discovery', 'Jake Gyllenhaal', 'ben stiller', 'Made me cry', 'wizards', 'Pixar', 'Sexual Humor', 'moving', 'blindness', 'Horror', 'fast-paced dialogue', 'Oscar (Best Cinematography)', 'spying', 'Anne Boleyn', 'Seth MacFarlane', 'biblical references', 'donkey', 'parrots', 'Jesse Eisenberg', 'Witty', 'Something for everyone in this one... saw it without and plan on seeing it with k

In [ ]:
print(len(tag_column))
print(len(unique_tags))

3683
1589

In [ ]:
# Compute IDF for tag
total_movie_count = len(set(tags_df['movieId']))
# key: tag, value: number of movies with such tag
tag_count_dict = dict.fromkeys(unique_tags)

In [ ]:
tag_count_dict

In [ ]:
# 태그별 가중치 부여

for each_movie_tag_list in tags_df['tag']:
    for tag in each_movie_tag_list.split(","):
        if tag_count_dict[tag.strip()] == None:
            tag_count_dict[tag.strip()] = 1
        else:
            tag_count_dict[tag.strip()] += 1

tag_idf = dict()
for each_tag in tag_count_dict:
    tag_idf[each_tag] = np.log10(total_movie_count / tag_count_dict[each_tag])

tag_idf

In [ ]:
len(tag_idf.keys())

1589

In [ ]:
# Create movie representations
tag_representation = pd.DataFrame(columns=sorted(unique_tags), index=list(set(tags_df['movieId'])))
for name, group in tqdm(tags_df.groupby(by='movieId')):
    temp_list = list(map(lambda x: x.split(','), list(group['tag'])))
    temp_tag_list = list(set(list(map(lambda x: x.strip(), list([tag for sublist in temp_list for tag in sublist])))))

    dict_temp = {i: tag_idf[i.strip()] for i in temp_tag_list}
    row_to_add = pd.DataFrame(dict_temp, index=[group['movieId'].values[0]])
    tag_representation.update(row_to_add)

tag_representation = tag_representation.sort_index(0)
tag_representation

100%|██████████| 1572/1572 [04:13<00:00,  6.20it/s]

       "artsy" 06 Oscar Nominated Best Movie - Animation  ... zoe kazan zombies
1          NaN                                       NaN  ...       NaN     NaN
2          NaN                                       NaN  ...       NaN     NaN
3          NaN                                       NaN  ...       NaN     NaN
5          NaN                                       NaN  ...       NaN     NaN
7          NaN                                       NaN  ...       NaN     NaN
...        ...                                       ...  ...       ...     ...
183611     NaN                                       NaN  ...       NaN     NaN
184471     NaN                                       NaN  ...       NaN     NaN
187593     NaN                                       NaN  ...       NaN     NaN
187595     NaN                                       NaN  ...       NaN     NaN
193565     NaN                                       NaN  ...       NaN     NaN

[1572 rows x 1589 columns]

In [ ]:
tag_representation.loc[1].dropna()

fun      2.49748
pixar    2.89542
Name: 1, dtype: object

In [ ]:
tag_representation.loc[193565].dropna()

anime       2.11727
comedy      2.02036
gintama     3.19645
remaster    3.19645
Name: 193565, dtype: object

In [ ]:
print(genre_representation.shape)
print(tag_representation.shape)

(9742, 20)
(1572, 1589)

# Final movie Representation

In [ ]:
movie_representation  = pd.concat([genre_representation, tag_representation], axis=1).fillna(0)
print(movie_representation.shape)
print(movie_representation.describe())

(9742, 1609)
       (no genres listed)       Action  ...    zoe kazan      zombies
count         9742.000000  9742.000000  ...  9742.000000  9742.000000
mean             0.008576     0.136354  ...     0.000328     0.001241
std              0.144915     0.283726  ...     0.032385     0.054775
min              0.000000     0.000000  ...     0.000000     0.000000
25%              0.000000     0.000000  ...     0.000000     0.000000
50%              0.000000     0.000000  ...     0.000000     0.000000
75%              0.000000     0.000000  ...     0.000000     0.000000
max              2.457169     0.726672  ...     3.196453     2.418301

[8 rows x 1609 columns]

# 컨텐츠 유사도 파악
 - cosine similarity를 사용

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
def cos_matrix(a, b) :
  cos_sim = cosine_similarity(a,b)
  result_df = pd.DataFrame(data = cos_sim, index = [a.index])

  return result_df

In [ ]:
cs_df = cos_matrix(movie_representation, movie_representation)
cs_df.head()

       0         1         2     ...      9739      9740      9741
1  1.000000  0.124438  0.008403  ...  0.000000  0.232553  0.093519
2  0.124438  1.000000  0.000000  ...  0.000000  0.000000  0.000000
3  0.008403  0.000000  1.000000  ...  0.000000  0.000000  0.089849
4  0.040571  0.000000  0.179391  ...  0.365843  0.000000  0.433821
5  0.011755  0.000000  0.011294  ...  0.000000  0.000000  0.125697

[5 rows x 9742 columns]

In [ ]:
cs_df.shape

(9742, 9742)

In [ ]:
print(cs_df[1].sort_values(ascending=False))

# 2번을 본 유저에게는 46972번 영화를 추천해줄 수 있음음

2         1.000000
46972     0.322201
126142    0.300850
2043      0.300850
2399      0.300850
            ...
39449     0.000000
39516     0.000000
39715     0.000000
39869     0.000000
7299      0.000000
Name: 1, Length: 9742, dtype: float64

In [ ]:
print(movies_df.loc[1])

title                                Toy Story (1995)
genres    Adventure|Animation|Children|Comedy|Fantasy
Name: 1, dtype: object

In [ ]:
print(movies_df.loc[46972])

title     Night at the Museum (2006)
genres    Action|Comedy|Fantasy|IMAX
Name: 46972, dtype: object

In [ ]:
print(movies_df.loc[126142])

title     The Cave of the Golden Rose (1991)
genres            Adventure|Children|Fantasy
Name: 126142, dtype: object

In [ ]:
print(movies_df.loc[2043])

title     Darby O'Gill and the Little People (1959)
genres                   Adventure|Children|Fantasy
Name: 2043, dtype: object

In [ ]:
print(movies_df.loc[2399])

title     Santa Claus: The Movie (1985)
genres       Adventure|Children|Fantasy
Name: 2399, dtype: object

In [ ]:
# 문제점 tag가 토이스토리는 2개 밖에 없었음. 그래서 너무 sparse한 결과값이 나오게 될 수밖에 없음
# children이 들어간것이 가중치가 높게 설정됨

# 추천시스템의 성능평가
  - 학습셋과 테스트셋으로 나눔
  - 테스트셋에서 예측한 평점과 실제 평점으 RMSE 값을 구함

In [91]:
train_df, test_df = train_test_split(ratings_df, test_size = 0.2, random_state = 1234)

In [ ]:
test_userids = list(set(test_df.userId.values))
test_userids

In [93]:
result_df = pd.DataFrame()

for user_id in tqdm(test_userids):
    user_record_df = train_df.loc[train_df.userId == int(user_id), :]
    
    user_sim_df = cs_df.loc[user_record_df['movieId']]  # (n, 9742); n은 userId가 평점을 매긴 영화 수
    user_rating_df = user_record_df[['rating']]  # (n, 1)
    sim_sum = np.sum(user_sim_df.T.to_numpy(), -1)  # (9742, 1)
    # print("user_id=", i, user_record_df.shape, user_sim_df.T.shape, user_rating_df.shape, sim_sum.shape)

    prediction = np.matmul(user_sim_df.T.to_numpy(), user_rating_df.to_numpy()).flatten() / (sim_sum+1) # (9742, 1)

    prediction_df = pd.DataFrame(prediction, index=cs_df.index).reset_index()
    prediction_df.columns = ['movieId', 'pred_rating']    
    prediction_df = prediction_df[['movieId', 'pred_rating']][prediction_df.movieId.isin(test_df[test_df.userId == user_id]['movieId'].values)]

    temp_df = prediction_df.merge(test_df[test_df.userId == user_id], on='movieId')
    result_df = pd.concat([result_df, temp_df], axis=0)

100%|██████████| 610/610 [00:17<00:00, 35.28it/s]

In [94]:
result_df.head(10)

   movieId  pred_rating  userId  rating  timestamp
0        1     4.145652       1     4.0  964982703
1       50     3.650755       1     5.0  964982931
2      216     2.670124       1     5.0  964981208
3      223     2.612844       1     3.0  964980985
4      231     4.215284       1     5.0  964981179
5      235     3.619820       1     4.0  964980908
6      316     4.136756       1     3.0  964982310
7      457     3.218743       1     5.0  964981909
8      543     3.729524       1     4.0  964981179
9      592     4.024728       1     4.0  964982271

In [95]:
mse = mean_squared_error(y_true=result_df['rating'].values, y_pred=result_df['pred_rating'].values)
rmse = np.sqrt(mse)

print(mse, rmse)

1.40606646706041 1.1857767357561078

In [ ]:
# 성능이 좋아지지 않음
# 핵심은 어떤 feature를 만드느냐 이다.